/* Selector Global para todo el sitio*/
* { margin: 0%;
padding: 0%;}

/*font*/
* {@font-face { 
    font-family:"alegreya" ;
    src: url(alegreya/static/alegreya-medium.tff);}}
* {color: rgb(246, 120, 10);}

/*WEB DESING FIRST*/

@media screen { min-width: 480px;
    body ; }
}





/*estilo aplicado al head*/
.modtitle { margin-left: 50%;}

/*estilos estructura del body */

body { height: 100vh; width: 100%;
background-image: url(https://cdn.pixabay.com/photo/2013/07/18/10/56/fall-163496_960_720.jpg);
background-size:cover;
background-position:bottom}


.borde {border: solid 5px rgb(169, 80, 2);
}

/*Grid aplicado al BODY */
#bodygrid {display: grid;

    grid-template-areas: 
    "navegador cabeza"
    "navegador principal"
    "navegador pie" ;
    grid-template-columns: 20% auto;
    grid-template-rows: 1fr 1fr 1fr;
 grid-column-gap: 5px;
 grid-row-gap: 5px;

 }
    /*areas*/
header { grid-area: cabeza;}
main { grid-area: principal;}
footer {grid-area: pie;}
nav {grid-area: navegador;}


/* modificaciones header */

#headerflex {display: flex;
flex-wrap: wrap;
flex-direction: column;
font-size: 45px;
justify-content: space-evenly;}

header {padding-left: 5%;
    border-radius: 10px;
}


.headerdegradado { background-image: linear-gradient(15deg, black 35%, rgba(255, 166, 0, 0.714) 70%, rgb(0, 0, 0))}

/* modificaciones main */
#mainFlexIndex { display: flex;
    flex-flow: column
     nowrap ;
     align-items: center;
     
padding: 5% 0 10% 0;}

.paddingMargenes {padding: 2% 0 2% 0; 
font-size: 20px;}


/*modificaciones footer */
#footerflex {display: flex;
flex-flow: row wrap;
justify-content: flex-end;


}

.footerdegradado {background-image: linear-gradient(15deg, rgba(0, 0, 0, 0.578), orange 50%, black 80%)}

footer section { padding-right: 10px;}




/*modificaciones del Section*/
 

#seccionflex { display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;}


#navModIndex{ font-size: 25px;
    margin: 5px;
    border-radius: 10px;
   padding: 50px 50px 50px 40px
    ;

}

#divModIndex { width: 75px;
    height: 75px;
    padding-top: 25px; 
}

.resaltar { transition: all 4s}
.resaltar :hover { color: yellow;
    size: 2cm;
    } 


/******** Estilos y Modificaciones Pag. Nuestra Mision***********/

#gridBodyNuestraMision {display: grid; grid-template-areas:
    "cabeza cabeza"
    "cuerpo cuerpo"
    "pie pie"
;
grid-template-columns: 10vh auto;
grid-template-rows: 20vw 40vw 40vw;
justify-content: space-evenly;}

header { grid-area: cabeza;
}
body { grid-area: cuerpo;

}

footer { grid-area: pie;
}

#flexSectionNuestraMision { display: flex;
flex-flow: row nowrap;
justify-content:space-between; 
;
padding: 20px;
}

#modMainNuestraMision { display: flex;
    flex-flow: column wrap;
    align-items: end;
padding: 5% 10% 5% 10%;
}


#modSpanNuestraMision { padding: 20px;
    font-size: 20px;
display: flex;
flex-flow: column nowrap;}

#modFooterNuestraMision { display: flex;
    flex-flow: row wrap;
justify-content: end;}
#modimgnuestramision { margin-left: 900px;}

#modParrafoNuestraMision { padding: 0 5% 3% 0;
font-size: 18px;}

h2 {margin-left: 60%;}

footer p {margin-left: 50%;}

/***********estilos y modificaciones Pag. Nuestros Clientes*************/

body ul { font-size: 45px;
margin-top: 250px;
margin-left: 1000px;}

h3 { margin-top: 950px;}

/***********Estilos y Modificaciones Pag. Sobre Nosotros************/

#modMainSobreNosotros { display: flex;
flex-flow: column wrap;
justify-content: end;
padding: 20% 0 0 50% ;
width: 35%;
font-size: large;}

#modSpanSobreNosotros 
/***********Estilos y Modificaciones Pag. Contacto*************/

#modFormContacto {padding-left: 30px;}
